.chessSquares1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessSquares1:nth-child(odd) {
  background-color: $whiteSquares;
  font-size: 3.7em;
  text-align: center;
}
.chessSquares1:nth-child(even) {
  background-color: $greenSquares;
  font-size: 3.7em;
  text-align: center;
}
.chessSquares2:nth-child(odd) {
  background-color: $greenSquares;
  font-size: 3.7em;
  text-align: center;
}
.chessSquares2:nth-child(even) {
  background-color: $whiteSquares;
  font-size: 3.7em;
  text-align: center;
}
